# Python compilation files
*.pyc

# Ignore temporary packaging folder
*.egg-info

# IDE files
.idea

# VSCODE files
.vscode

flexutils/protocols/*.egg-info
flexutils/protocols/build
flexutils/protocols/dist
flexutils/protocols/flexutils_tensorflow/*.egg-info
flexutils/protocols/flexutils_tensorflow/build
